<div class="flex flex-col items-center">
	<div class="w-full" data-controller="revealable">
		<div class="flex relative items-center justify-center card h-16 mt-4 shadow-sm">
			<span class="flex-grow text-gray-600 font-light text-xl text-center">Chatrooms</span>
			<%= inline_svg_tag "chevron_left.svg", class: "h-10 w-10 text-gray-600 fill-current", data: { action: "click->revealable#open" } %>
		</div>
		<div class="hidden relative z-10 card pb-8 m-6 -mt-14 h-14 shadow-xl" data-target="revealable.revealedElement">
			<div class="flex items-center justify-end p-2" data-behavior="new-chatroom">
				<% if can? :create, Chatroom %>
					<%= link_to "Add Chatroom +", new_chatroom_path, remote: true, class: "flex-grow link" %>
				<% end %>
				<%= inline_svg_tag "chevron_down.svg", class: "h-10 w-10 bg-white text-gray-600 fill-current", data: { action: "click->revealable#close"} %>
			</div>			
			<div class="max-h-1/2-screen overflow-y-auto mt-2 border-t border-gray-400" data-behavior="chatroom-stack">
				<%= render "chatrooms/chatrooms" %>
			</div>
		</div>
	</div>
	<div class="w-full h-3/5-screen px-4">
		<%= render "chatrooms/chatroom" %>
	</div>
</div>