<div class="flex items-center">
	<div class="w-full" data-controller="dropdown">
		<div class="flex relative items-center justify-center card h-16 mt-4 shadow-sm">
			<span class="flex-grow text-gray-600 font-light text-xl text-center">Chatrooms</span>
			<%= inline_svg_tag "chevron_left.svg", class: "h-10 w-10 text-gray-600 fill-current", data: { action: "click->dropdown#open" } %>
		</div>
		<div class="hidden relative z-10 card m-6 -mt-14 h-14 shadow-xl" data-target="dropdown.mobileMenu">
			<div class="flex items-center justify-end p-2" data-behavior="new-chatroom">
				<% if can? :create, Chatroom %>
					<%= link_to "Add Chatroom +", new_chatroom_path, remote: true, class: "flex-grow link" %>
				<% end %>
				<%= inline_svg_tag "chevron_down.svg", class: "h-10 w-10 bg-white text-gray-600 fill-current", data: { action: "click->dropdown#close"} %>
			</div>
			<% unless @chatrooms.empty? %>
				<% @chatrooms.each do |chatroom| %>
					<div class="p-2">
						<%= link_to chatroom.name, "#", class: "font-semibold text-lg" %>
					</div>
				<% end %>
			<% else %>
				<%= inline_svg_tag "add_channel.svg", class: "mt-6 mb-4 mx-auto h-auto w-full max-w-md" %>
				<p class="text text-medium text-center tracking-wide my-6 lg:text-xl lg:tracking-normals">
					Add a chatroom and get chatting!				
				</p>
			<% end %>
		</div>
	</div>
</div>