<div class="mx-4 mt-24 px-6 bg-white border border-gray-300 shadow-xl rounded">
  <h1 class="mt-8 mb-4 mx-auto text-center text-lg text-gray-900">Log In</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="w-full">
      <%= f.label :email, class: "invisible" %>
      <%= f.email_field :email, class: "form-input w-full", autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>

    <div class="w-full">
      <%= f.label :password, class: "invisible" %>
      <%= f.password_field :password, class: "form-input w-full", autocomplete: "current-password", placeholder: "Password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="w-full my-4">
        <%= f.check_box :remember_me, class: "form-checkbox h-6 w-6 mr-2 text-orange-500" %>
        <%= f.label :remember_me, class: "text-grey-900" %>
      </div>
    <% end %>

    <div class="mt-8">
      <%= f.submit "Log in", class: "btn" %>
    </div>
  <% end %>

  <div class="my-4 w-full">
    <%= render "devise/shared/links" %>
  </div>
</div>
